/* Reset CSS: Setter margin til 0 og border-box for at border inkluderes i boks */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100svh;
  font-family: "Agdasima", sans-serif;
}

#logo {
  width: 100px;
}
.bg-img {
  min-height: 100svh;
  background-color: grey;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  place-items: center;
  border: 8px solid black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 22, 5);
  padding: 10px 20px;
  position: fixed;
  width: 100%;
}

ul {
  display: flex;
  list-style: none;
  column-gap: 40px;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  color: rgb(133, 70, 70);
}

#first {
  background-image: url(./assets//lagbilde.jpg);
}

#second {
  background-image: url(./assets//markus-spiske-BfphcCvhl6E-unsplash.jpg);
}

#third {
  background-image: url(./assets//tom-pottiger-23ZL8GbiK0g-unsplash.jpg);
}

h2 {
  font-size: 40px;
  padding: 20px 40px;
  background-color: hsla(240, 96%, 9%, 65%);
  color: antiquewhite;
  border-radius: 10px;
  letter-spacing: 2px;
}

h3 {
  font-size: 50px;
  margin-bottom: 60px;
  text-align: center;
}

p {
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 1.2;
  margin-top: 20px;
}

code {
  color: crimson;
  padding: 2px;
  font-size: 105%;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
}

.information {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(0, 22, 5);
  color: aliceblue;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 columns on desktop */
  gap: 30px;
  padding: 40px;
  background-color: black;
}

.player-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 10px;
}

.profile-photo {
  width: 240px;
  height: 240px;
  border-radius: 10%;
  margin-right: 10px;
}

.player-info {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
  }
}

@media (max-width: 480px) {
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .player-card {
    width: 90%;
    max-width: 300px;
    margin-bottom: 20px;
  }
}
